<div class="page-container">
    <section class="upfold">
        <section class="total-pay">
            <h2> WTF is this? </h2>
        </section>
    </section>

    <p> <strong> Wage Disseminator </strong> </p>

    <p>
        Have you come across the time where you're not aware of how much money
        you end up spending for the month &amp; you decide that you need a "Plan"
        next time..?
    </p>

    <p>
        Honestly, I don't care :)
    </p>

    <p>
        This application is created to eliminate the confusion of how much money
        you're supposed to spend categorically.
    </p>

    <p>
        <strong> Note: </strong>
        This application is based on local storage and I can assure you that no
        data is stolen from you.
    </p>

    <p>
        This is an Open Source Angular project and interested people can fork it
        or Contribute. Thanks :D (I'm pretty sure you're lazy enough to do neither
        of em)
    </p>

    <p>
        <a href="https://github.com/kj1352/wage-disseminator" target="_blank">
            Click here to view the Repo
        </a>
    </p>

    <button class="save-button" (click)="back()"> ALRIGHT ALRIGHT ALRIGHT... </button>
</div>
