<section class="container">
    <section class="form">
        <div class="input-holder">
            <label> Full Name* </label>
            <input type="text" [(ngModel)]="userProfile.name">
        </div>

        <div class="input-holder">
            <label> Pass Key* </label>
            <input type="tel" [(ngModel)]="userProfile.passkey">
        </div>

        <p *ngIf="!areInputsValid()">
            The Passkey length must be atleast 4 &amp;
            <br>
            Name must contain atleast 1 letter
        </p>

        <button *ngIf="areInputsValid()" (click)="registerUser()"> Signup </button>
    </section>
</section>
