$dark-teal: #21cfbb;
$teal: #6aeeab;

.page-container {
    padding-bottom: 50px;
}

.upfold {
    background: linear-gradient(45deg, $dark-teal, $teal);
    padding: 20px 5%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .name-logo {
            width: 50px;
            height: 50px;
            color: white;
            background-color: teal;
            border-radius: 50%;
            border: 0px;
            font-size: 18px;
            font-weight: bold;
        }

        .settings-button {
            border-radius: 30px;
            height: 30px;
            background-color: #f7f7f7;
            color: teal;
            font-size: 14px;
            letter-spacing: 0.5px;
            border: 0px;
            padding: 0 15px;
        }
    }

    .total-pay {
        color: white;

        p {
            font-size: 14px;
            letter-spacing: 0.5px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 26px;
            color: white;
            letter-spacing: 1px;
            font-weight: normal;
        }
    }
}

.dissemination-list {
    list-style: none;
    width: 90%;
    margin: 20px auto;
    color: dimgrey;

    header {
        margin-bottom: 10px;

        h3 {
            font-size: 18px;
            font-weight: normal;
        }
    }

    li {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 15px auto;
        background-color: #efefef;
        border-radius: 7px;
        padding: 10px 15px;

        label {
            display: flex;
            width: calc(100% - 120px);
            align-items: center;

            .percentage {
                width: 50px;
                height: 50px;
                background: linear-gradient(45deg, $dark-teal, $teal);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                font-size: 14px;
                color: white;
            }
        }

        .value {
            width: 120px;
            text-align: right;
            font-size: 16px;
            letter-spacing: 1px;
            color: $dark-teal;
        }
    }
}
