<div class="page-container">
    <section class="upfold">
        <div class="container">
            <button class="name-logo" (click)="navigateToUrl('profile')"> {{ getFirstLetter(this.userProfile.name) }} </button>
            <button class="settings-button" (click)="navigateToUrl('settings')"> Change Dissemination </button>
        </div>
        <section class="total-pay">
            <p> Total Income per month </p>
            <h2> {{ userCurrency.symbol }} {{ userMoneyTree.totalIncome }} </h2>
        </section>
    </section>

    <ul class="dissemination-list">
        <header>
            <h3> Dissemination </h3>
        </header>
        <li>
            <label> <div class="percentage"> {{ userMoneyTree.savings }}% </div> Savings </label>
            <div class="value"> {{ getCalculatedAmount(userMoneyTree.savings) }} </div>
        </li>

        <li>
            <label> <div class="percentage"> {{ userMoneyTree.investment }}% </div> Investment </label>
            <div class="value"> {{ getCalculatedAmount(userMoneyTree.investment) }} </div>
        </li>

        <li>
            <label> <div class="percentage"> {{ userMoneyTree.expenses }}% </div> Expenses </label>
            <div class="value"> {{ getCalculatedAmount(userMoneyTree.expenses) }} </div>
        </li>

        <li>
            <label> <div class="percentage"> {{ userMoneyTree.donation }}% </div> Donation </label>
            <div class="value"> {{ getCalculatedAmount(userMoneyTree.donation) }} </div>
        </li>
    </ul>

    <button class="share" (click)="share()"> SHARE THE APP </button>

    <div class="note-card">
        <header> To download the App </header>
        <ol>
            <li> Open Chrome/Safari & Visit this URL </li>
            <li> In Chrome &gt; Tap on the options present on the right top corner </li>
            <li> Tap on Add to desktop &amp; you're done </li>
            <li> Safari users, I'm sure you'll find your way :) </li>
        </ol>
    </div>

    <div class="note-card">
        <header> Quick Tips </header>
        <ol>
            <li>
                To get the best practical experience of this app, having multiple
                bank account is preferable.
            </li>
            <li>
                Clear one of your accounts to make it a 0 balance.
            </li>
            <li>
                When your salary comes in, refer the app to know how much money
                you're supposed to spend / transfer / save / donate for the month
                and do your deeds.
            </li>
            <li>
                There is a psychological aspect involved behind this App.
            </li>
            <li>
                Since you are aware of the exact amount you can spend for the month,
                your mind will passively keep track of your expenditure and
                you will know it before you hit the expense limit.
            </li>
        </ol>
    </div>

</div>
